#resultBox {
  align-self: center;
  align-items: center;
  border: 15px center;
  overflow-y: hidden;
  overflow-x: scroll;
  text-align: center;
}

.hidden {
  display: name;
}

body {background-color: black;}



